
.scenes {
  $stimulus-size: 50%;
  $link-color: #428bca;

  position: relative;
  width: 25%;
  height: 75%;
  margin: 0 auto;
  padding-top: 25px;

  div.stimulus {
    position: absolute;
    width: $stimulus-size;
    transition: opacity linear 1s;

    // full translucent text has no cursor over effect
    .translucent {
      cursor: default;
    }

    // disguise links that are not active
    a:not(.active) {
      cursor: text;

      &:hover {
        text-decoration: none;
        color: $link-color;
      }
    }
  }

  .sight {
  }

  .sound {
  }

  .smell {
  }

  .taste {
  }

  .magic {
  }
}
