
.scenes {
  $stimulus-size: 50%;
  $link-color: #428bca;

  position: relative;
  width: 25%;
  height: 75%;
  margin: 0 auto;
  padding-top: 25px;

  div.stimulus {
    position: absolute;
    width: $stimulus-size;
    transition: opacity linear 1s;

    // full translucent text has no cursor over effect
    .translucent {
      cursor: default;
    }

  }

  .sense {
    // disguise links that are not active
    &:not(.active) {
      a {
        cursor: text;

        &:hover {
          text-decoration: none;
          color: $link-color;
        }

        &:focus {
          outline: none;
          text-decoration: none;
          color: $link-color;
        }
      }
    }
  }

  .sight {
    @extend .sense;
  }

  .sound {
    @extend .sense;
  }

  .smell {
    @extend .sense;
  }

  .taste {
    @extend .sense;
  }

  .magic {
    @extend .sense;
  }
}
