
.senses {
  $diameter: 50px;
  $radius: $diameter/2;
  $sense-size: $diameter;
  $border-width: 2px;
  $sqrt_2: 1.414213562; // ^o^//
  $moon-size: $diameter*$sqrt_2;

  width: 25%;
  margin: 0 auto;

  div {
    width: $diameter;
    height: $diameter;
    border: $border-width solid darkgray;
    display: inline-block;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }
  }

  // use less to create a rule for each sense's moon
  // TODO rename moon to moon
  .moon {
    background-color: skyblue;
    margin-left: 0;
    border: none;
    border-radius: $radius;
    position: absolute;
    top: $diameter/2 - $moon-size/2;
    left: $diameter/2 - $moon-size/2;
    transition: height 1s linear, width 1s linear, top 1s linear, left 1s linear;
    width: $moon-size;
    height: $moon-size;
  }

  .magic {
    position: absolute;
    top: -$border-width;
    left: -$border-width;
  }

  .sight {
    border-radius: 0px 0px 0px 0px;
  }

  .hearing {
    border-radius: 0px 0px 0px $radius;

  }

  .taste {
    border-radius: 0px 0px $radius $radius;

  }

  .smell {
    border-radius: 0px $radius $radius $radius;
  }

  .touch, .magic {
    border-radius: $radius $radius $radius $radius;
  }

}
